@model APP_HotelBeachSA.Models.SuperReservacion

@{
    ViewData["Title"] = "CrearReservacion";
    Layout = "~/Views/Shared/_ReservacionesLayout.cshtml";
}

<body>
    <div class="container">
        <main role="main" class="pb-3">
            <h1 class="mt-4">Reservation</h1>

            <!-- Container for Reservation Steps -->
            <div class="mt-4 col-md-7">
                <div class="d-flex">

                    <div id="information-circle"
                         class="circle-outline d-flex justify-content-center align-items-center me-3">
                        <p class="d-inline align-self-center fw-bold m-0">1</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <h6 class="lead d-inline align-middle fw-bold m-0">Information</h6>
                    </div>

                    <p class="d-inline align-self-center horizontal-line mx-4"></p>

                    <div id="dates-circle" class="circle d-flex justify-content-center align-items-center me-3">
                        <p class="d-inline align-self-center fw-bold m-0">2</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <h6 class="lead d-inline align-middle fw-bold m-0">Dates</h6>
                    </div>

                    <p class="d-inline align-self-center horizontal-line mx-4"></p>

                    <div id="payment-circle"
                         class="circle-outline d-flex justify-content-center align-items-center me-3">
                        <p class="d-inline align-self-center fw-bold m-0">3</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <h6 class="lead d-inline align-middle fw-bold m-0">Payment</h6>
                    </div>


                </div>

            </div>



            <div class="row gap-4">

                <div class="mt-4 d-block bg-grey col-md-7 p-5 rounded">


                    <form asp-action="CrearReservacion">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <!-- Container for Dates and Guests -->
                        <div id="dates">
                            <h3 class="fw-bold">Please fill out the information</h3>
                            <div class="d-flex gap-4 mt-4">
                                <div class="mb-3 col-5">
                                    <label asp-for="Reservacion.Entrada" class="control-label pb-2">Check-in</label>
                                    <input asp-for="Reservacion.Entrada" class="form-control">
                                    <span asp-validation-for="Reservacion.Entrada" class="text-danger"></span>
                                </div>
                                <div class="mb-3 col-5">
                                    <label asp-for="Reservacion.Salida" class="control-label pb-2">Check-out</label>
                                    <input asp-for="Reservacion.Salida" class="form-control">
                                    <span asp-validation-for="Reservacion.Salida" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 col-5">
                                <label asp-for="Reservacion.Huespedes" class="control-label pb-2">Number of guests</label>
                                <input asp-for="Reservacion.Huespedes" class="form-control">
                                <span asp-validation-for="Reservacion.Huespedes" class="text-danger"></span>
                            </div>

                            <button onclick="changeToPayment()"
                                    class="btn fw-bold btn-primary-org mt-4 px-4 me-2">
                                Next
                            </button>
                            <a asp-controller="Reservaciones" asp-action="Index" class="btn fw-bold btn-primary-org-outline mt-4 px-4">Cancel</a>
                        </div>


                        <!-- Container for Type of Payment -->
                        <div id="payment" class="d-none">
                            <h3 class="fw-bold">Please fill out the information</h3>
                            <div class="d-flex gap-4 mt-4">
                                <div class="mb-3 col-5">
                                    <label asp-for="Pago.Tipo_Pago" class="control-label pb-2">Type of Payment</label>
                                    <select asp-for="Pago.Tipo_Pago" id="type-payment" onchange="showCheckInfo()" class="form-select"
                                            aria-label="Type of Payment">
                                        <option value="K">Cash</option>
                                        <option value="T">Card</option>
                                        <option value="C">Check</option>
                                    </select>
                                </div>
                            </div>

                            <div id="check-payment" class="">
                                <div class="mb-3 col-5">
                                    <label asp-for="Pago.Numero_Pago" class="control-label pb-2">Check Number</label>
                                    <input asp-for="Pago.Numero_Pago" class="form-control">
                                    <span asp-validation-for="Pago.Numero_Pago" class="text-danger"></span>
                                </div>
                                <div class="mb-3 col-5">
                                    <label asp-for="Cheque.Moneda" class="control-label pb-2">Currency</label>
                                    <input asp-for="Cheque.Moneda" class="form-control">
                                    <span asp-validation-for="Cheque.Moneda" class="text-danger"></span>
                                </div>
                                <div class="mb-3 col-5">
                                    <label asp-for="Cheque.Cantidad" class="control-label pb-2">Quantity</label>
                                    <input asp-for="Cheque.Cantidad" class="form-control">
                                    <span asp-validation-for="Cheque.Cantidad" class="text-danger"></span>
                                </div>
                                <div class="mb-3 col-5">
                                    <label asp-for="Cheque.Nombre_Banco" class="control-label pb-2">Bank Name</label>
                                    <input asp-for="Cheque.Nombre_Banco" class="form-control">
                                    <span asp-validation-for="Cheque.Nombre_Banco" class="text-danger"></span>
                                </div>
                            </div>

                            <div id="card-payment" class="">
                                <div class="mb-3 col-5">
                                    <label asp-for="Pago.Numero_Pago" class="control-label pb-2">Card Number</label>
                                    <input asp-for="Pago.Numero_Pago" class="form-control">
                                    <span asp-validation-for="Pago.Numero_Pago" class="text-danger"></span>
                                </div>
                            </div>

                            <button type="submit"
                                    class="btn fw-bold btn-primary-org mt-4 px-4 me-2">
                                Next
                            </button>
                            <a asp-controller="Reservaciones" asp-action="Index" class="btn fw-bold btn-primary-org-outline mt-4 px-4">Cancel</a>
                        </div>

                        <!-- Container for Client Info -->
                        @* <div id="client">
                        <h3 class="fw-bold">Please fill out the information</h3>

                        <div class="mb-3 col-5">
                        <label asp-for="Cliente.Cedula" class="control-label pb-2">Cédula</label>
                        <input asp-for="Cliente.Cedula" class="form-control">
                        <span asp-validation-for="Cliente.Cedula" class="text-danger"></span>
                        </div>
                        <div class="d-flex gap-4 mt-4">
                        <div class="mb-3 col-5">
                        <label asp-for="Cliente.Tipo_Cedula" class="control-label pb-2">Tipo de Cédula</label>
                        <input asp-for="Cliente.Tipo_Cedula" class="form-control">
                        <span asp-validation-for="Cliente.Tipo_Cedula" class="text-danger"></span>
                        </div>
                        <div class="mb-3 col-5">
                        <label asp-for="Cliente.Nombre" class="control-label pb-2">Nombre</label>
                        <input asp-for="Cliente.Nombre" class="form-control">
                        <span asp-validation-for="Cliente.Nombre" class="text-danger"></span>
                        </div>
                        </div>

                        <div class="d-flex gap-4 mt-4">
                        <div class="mb-3 col-5">
                        <label asp-for="Cliente.Primer_Apellido" class="control-label pb-2">Primer Apellido</label>
                        <input asp-for="Cliente.Primer_Apellido" class="form-control">
                        <span asp-validation-for="Cliente.Primer_Apellido" class="text-danger"></span>
                        </div>
                        <div class="mb-3 col-5">
                        <label asp-for="Cliente.Segundo_Apellido" class="control-label pb-2">Segundo Apellido</label>
                        <input asp-for="Cliente.Segundo_Apellido" class="form-control">
                        <span asp-validation-for="Cliente.Segundo_Apellido" class="text-danger"></span>
                        </div>
                        </div>

                        <div class="d-flex gap-4 mt-4">
                        <div class="mb-3 col-5">
                        <label asp-for="Cliente.Email" class="control-label pb-2">Email</label>
                        <input asp-for="Cliente.Email" class="form-control">
                        <span asp-validation-for="Cliente.Email" class="text-danger"></span>
                        </div>
                        <div class="mb-3 col-5">
                        <label asp-for="Cliente.Telefono" class="control-label pb-2">Teléfono</label>
                        <input asp-for="Cliente.Telefono" class="form-control">
                        <span asp-validation-for="Cliente.Telefono" class="text-danger"></span>
                        </div>
                        </div>

                        <div class="mb-3 col-5">
                        <label asp-for="Cliente.Direccion" class="control-label pb-2">Dirección</label>
                        <input asp-for="Cliente.Direccion" class="form-control">
                        <span asp-validation-for="Cliente.Direccion" class="text-danger"></span>
                        </div>


                        <button onclick=""
                        class="btn fw-bold btn-primary-org mt-4 px-4 me-2">
                        Next
                        </button>
                        <button asp-controller="Reservaciones" asp-action="Index" class="btn fw-bold btn-primary-org-outline mt-4 px-4">Cancel</button>
                        </div> *@


                    </form>
                </div>

                <!-- Container for Reservation Summary  -->
                <div id="summary" class="mt-4 bg-grey col-md-4 py-5 px-4 rounded">
                    <h5 class="fw-bold">Reservation Summary</h5>

                    <div class="bg-white-outline px-2 pt-3 rounded my-4">
                        <div class="d-flex">
                            <div class="col">
                                <p class="small simple-text fw-light">Check-in</p>
                                <p class="fw-bold">Sun, 22 May 2024</p>
                            </div>
                            <p class="px-3 vertical-line"></p>
                            <div class="col">
                                <p class="small simple-text fw-light">Check-out</p>
                                <p class="fw-bold">Sun, 22 May 2024</p>
                            </div>
                        </div>

                        <div class="d-flex">
                            <div class="col">
                                <p class="small simple-text fw-light">Type of Package</p>
                                <p class="fw-bold">All included</p>
                            </div>
                            <p class="px-3"></p>
                            <div class="col">
                                <p class="small simple-text fw-light">Nights</p>
                                <p class="fw-bold">2 nights</p>
                            </div>
                        </div>

                        <div class="">
                            <p class="small simple-text fw-light">Number of guests</p>
                            <p class="fw-bold">4 people</p>
                        </div>
                    </div>

                    <h6 class="fw-bold mt-2">Price Summary</h6>
                    <div class="d-flex pb-0">
                        <p class="flex-grow-1 simple-text">Guests</p>
                        <p class="simple-text">$1600.00</p>
                    </div>
                    <div class="d-flex">
                        <p class="flex-grow-1 simple-text">Discount</p>
                        <p class="simple-text">- $99.99</p>
                    </div>
                    <div class="d-flex">
                        <p class="flex-grow-1 simple-text">%Iva</p>
                        <p class="simple-text">$16.84</p>
                    </div>


                    <div class="d-flex mt-3">
                        <h6 class="fw-bold blue-text flex-grow-1 mb-1">Total Price</h6>
                        <h6 class="fw-bold blue-text mb-1">$1 516,85</h6>
                    </div>
                    <div class="d-flex">
                        <p class="fw-thin small blue-text flex-grow-1">Advance</p>
                        <p class="fw-thin small blue-text">$794 829,85</p>
                    </div>
                </div>
            </div>


        </main>
    </div>


</body>



