@model IEnumerable<APP_HotelBeachSA.Models.Paquete>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ReservacionesLayout.cshtml";
}


<body>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="mt-4 text-center">
                <h1 class="display-1">Our Packages</h1>
                <p class="justify-center px-5">
                    Fusce nec viverra ante. Nunc volutpat elit elit, in pulvinar dui
                    facilisis ut. Nulla lacinia orci vehicula metus
                    maximus, eu tincidunt mauris blandit.
                </p>
            </div>

        
            <div class="row mt-5">
                
                @foreach (var item in Model)
                {
                    <div class="col-md-4 mt-0 mt-sm-3">
                        <div class="card shadow-sm pb-3">
                            <div class="img-height overflow-hidden">
                                <img src="./img/All_included.jpg" class="card-img-top h-100 img-fluid overflow"
                                     alt="All Included">
                            </div>
                            <div class="card-body px-4">
                                <h5 class="card-title fw-bold  pt-2">@Html.DisplayFor(modelItem => item.Nombre)</h5>
                                <p class="card-text m-0">Advance: 
                                    @Html.DisplayFor(modelItem => item.Adelanto)%
                                </p>
                                <p class="card-text">
                                    Terms:
                                    @Html.DisplayFor(modelItem => item.Terminos_Pago) months
                                </p>
                                <div class="d-flex mt-2">
                                    <div class="flex-grow-1">
                                        <h3 class="">$@Html.DisplayFor(modelItem => item.Costo_Persona)<span class="small">xp</span> </h3>
                                    </div>
                                    <a asp-route-id="@item.Id" asp-controller="Reservaciones" asp-action="BuscarCliente" class="btn btn-primary-org fw-bold">Book Now</a>
                                </div>

                            </div>
                        </div>
                    </div>
                }

                
            </div>

        </main>

        <a asp-controller="Home" asp-action="Index" class="btn btn-primary-org-outline fw-bold">Go Back</a>
    </div>


</body>
