
@{
    ViewData["Title"] = "Reservar";
    Layout = "~/Views/Shared/_ReservacionesLayout.cshtml";
}


<body>
    <div class="container">
        <main role="main" class="pb-3">
            <h1 class="mt-4">Reservation</h1>

            <!-- Container for Reservation Steps -->
            <div class="mt-4 col-md-7">
                <div class="d-flex">
                    <div id="dates-circle" class="circle d-flex justify-content-center align-items-center me-3">
                        <p class="d-inline align-self-center fw-bold m-0">1</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <h6 class="lead d-inline align-middle fw-bold m-0">Dates</h6>
                    </div>

                    <p class="d-inline align-self-center horizontal-line mx-4"></p>

                    <div id="payment-circle"
                         class="circle-outline d-flex justify-content-center align-items-center me-3">
                        <p class="d-inline align-self-center fw-bold m-0">2</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <h6 class="lead d-inline align-middle fw-bold m-0">Payment</h6>
                    </div>

                    <p class="d-inline align-self-center horizontal-line mx-4"></p>

                    <div id="confirmation-circle"
                         class="circle-outline d-flex justify-content-center align-items-center me-3">
                        <p class="d-inline align-self-center fw-bold m-0">3</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <h6 class="lead d-inline align-middle fw-bold m-0">Confirmation</h6>
                    </div>

                </div>

            </div>



            <div class="row gap-4">

                <div class="mt-4 d-block bg-grey col-md-7 p-5 rounded">

                    <form>

                        <!-- Container for Dates and Guests -->
                        <div id="dates">
                            <h3 class="fw-bold">Please fill out the information</h3>
                            <div class="d-flex gap-4 mt-4">
                                <div class="mb-3 col-5">
                                    <label class="control-label pb-2">Check-in</label>
                                    <input class="form-control">
                                    <span @* asp-validation-for="" *@ class="text-danger"></span>
                                </div>
                                <div class="mb-3 col-5">
                                    <label class="control-label pb-2">Check-out</label>
                                    <input class="form-control">
                                    <span @* asp-validation-for="" *@ class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 col-5">
                                <label class="control-label pb-2">Number of guests</label>
                                <input class="form-control">
                                <span @* asp-validation-for="" *@ class="text-danger"></span>
                            </div>

                            <button onclick="changeToPayment()"
                                    class="btn fw-bold btn-primary-org mt-4 px-4 me-2">
                                Next
                            </button>
                            <button class="btn fw-bold btn-primary-org-outline mt-4 px-4">Cancel</button>
                        </div>


                        <!-- Container for Type of Payment -->
                        <div id="payment" class="d-none">
                            <h3 class="fw-bold">Please fill out the information</h3>
                            <div class="d-flex gap-4 mt-4">
                                <div class="mb-3 col-5">
                                    <label class="control-label pb-2">Type of Payment</label>
                                    <select id="type-payment" onchange="showCheckInfo()" class="form-select"
                                            aria-label="Type of Payment">
                                        <option selected>Select type of Payment</option>
                                        <option value="1">Cash</option>
                                        <option value="2">Card</option>
                                        <option value="3">Check</option>
                                    </select>
                                </div>
                            </div>

                            <div id="check-payment" class="">
                                <div class="mb-3 col-5">
                                    <label class="control-label pb-2">Check Number</label>
                                    <input class="form-control">
                                    <span @* asp-validation-for="" *@ class="text-danger"></span>
                                </div>
                                <div class="mb-3 col-5">
                                    <label class="control-label pb-2">Bank Name</label>
                                    <input class="form-control">
                                    <span @* asp-validation-for="" *@ class="text-danger"></span>
                                </div>
                            </div>

                            <div id="card-payment" class="">
                                <div class="mb-3 col-5">
                                    <label class="control-label pb-2">Card Number</label>
                                    <input class="form-control">
                                    <span @* asp-validation-for="" *@class="text-danger"></span>
                                </div>
                            </div>

                            <button onclick="changeToConfirmation()"
                                    class="btn fw-bold btn-primary-org mt-4 px-4 me-2">
                                Next
                            </button>
                            <button class="btn fw-bold btn-primary-org-outline mt-4 px-4">Cancel</button>
                        </div>


                        <!-- Container for Comfirmation -->
                        <div id="confirmation" class="d-none">
                            <h3 class="fw-bold">Reservation Summary</h3>

                            <div class="row">
                                <!-- Reservation Info -->
                                <div class="col-7 bg-white-outline px-3 pt-3 rounded my-4">

                                    <div class="d-flex">
                                        <div class="col">
                                            <p class="small simple-text fw-light">Check-in</p>
                                            <p class="fw-bold">Sun, 22 May 2024</p>
                                        </div>
                                        <p class="px-3 vertical-line"></p>
                                        <div class="col">
                                            <p class="small simple-text fw-light">Check-out</p>
                                            <p class="fw-bold">Sun, 22 May 2024</p>
                                        </div>
                                    </div>

                                    <div class="d-flex">
                                        <div class="col">
                                            <p class="small simple-text fw-light">Type of Package</p>
                                            <p class="fw-bold">All included</p>
                                        </div>
                                        <p class="px-3"></p>
                                        <div class="col">
                                            <p class="small simple-text fw-light">Nights</p>
                                            <p class="fw-bold">2 nights</p>
                                        </div>
                                    </div>

                                    <div class="">
                                        <p class="small simple-text fw-light">Number of guests</p>
                                        <p class="fw-bold">4 people</p>
                                    </div>
                                </div>

                                <!-- Payment Info -->
                                <div class="ms-4 col-4 bg-white-outline px-3 pt-3 rounded my-4">
                                    <div class="">
                                        <p class="small simple-text fw-light">Type of Payment</p>
                                        <p class="fw-bold">Check</p>
                                    </div>
                                    <div class="">
                                        <p class="small simple-text fw-light">Check Number</p>
                                        <p class="fw-bold">1000-0000-5552-3366</p>
                                    </div>
                                    <div class="">
                                        <p class="small simple-text fw-light">Date</p>
                                        <p class="fw-bold">22/01/2024</p>
                                    </div>
                                </div>

                            </div>

                            <!-- Price Info -->
                            <div class="col-7">
                                <h6 class="fw-bold mt-2">Price Summary</h6>
                                <div class="d-flex pb-0">
                                    <p class="flex-grow-1 simple-text">Guests</p>
                                    <p class="simple-text">$1600.00</p>
                                </div>
                                <div class="d-flex">
                                    <p class="flex-grow-1 simple-text">Discount</p>
                                    <p class="simple-text">- $99.99</p>
                                </div>
                                <div class="d-flex">
                                    <p class="flex-grow-1 simple-text">%Iva</p>
                                    <p class="simple-text">$16.84</p>
                                </div>

                                <div class="d-flex mt-3">
                                    <p class="lead blue-text flex-grow-1">Advance</p>
                                    <p class="lead blue-text">$794 829,85</p>
                                </div>
                                <div class="d-flex ">
                                    <h5 class="fw-bold blue-text flex-grow-1 m-0">Total Price</h5>
                                    <h5 class="fw-bold blue-text m-0">$1 516,85</h5>
                                </div>
                                <div class="d-flex">
                                    <p class="blue-text flex-grow-1">Colones</p>
                                    <p class="blue-text">794 829,85</p>
                                </div>
                            </div>

                            <button class="btn fw-bold btn-primary-org mt-4 px-4 me-2">Book</button>
                            <button class="btn fw-bold btn-primary-org-outline mt-4 px-4">Cancel</button>

                        </div>


                    </form>
                </div>

                <!-- Container for Reservation Summary  -->
                <div id="summary" class="mt-4 bg-grey col-md-4 py-5 px-4 rounded">
                    <h5 class="fw-bold">Reservation Summary</h5>

                    <div class="bg-white-outline px-2 pt-3 rounded my-4">
                        <div class="d-flex">
                            <div class="col">
                                <p class="small simple-text fw-light">Check-in</p>
                                <p class="fw-bold">Sun, 22 May 2024</p>
                            </div>
                            <p class="px-3 vertical-line"></p>
                            <div class="col">
                                <p class="small simple-text fw-light">Check-out</p>
                                <p class="fw-bold">Sun, 22 May 2024</p>
                            </div>
                        </div>

                        <div class="d-flex">
                            <div class="col">
                                <p class="small simple-text fw-light">Type of Package</p>
                                <p class="fw-bold">All included</p>
                            </div>
                            <p class="px-3"></p>
                            <div class="col">
                                <p class="small simple-text fw-light">Nights</p>
                                <p class="fw-bold">2 nights</p>
                            </div>
                        </div>

                        <div class="">
                            <p class="small simple-text fw-light">Number of guests</p>
                            <p class="fw-bold">4 people</p>
                        </div>
                    </div>

                    <h6 class="fw-bold mt-2">Price Summary</h6>
                    <div class="d-flex pb-0">
                        <p class="flex-grow-1 simple-text">Guests</p>
                        <p class="simple-text">$1600.00</p>
                    </div>
                    <div class="d-flex">
                        <p class="flex-grow-1 simple-text">Discount</p>
                        <p class="simple-text">- $99.99</p>
                    </div>
                    <div class="d-flex">
                        <p class="flex-grow-1 simple-text">%Iva</p>
                        <p class="simple-text">$16.84</p>
                    </div>


                    <div class="d-flex mt-3">
                        <h6 class="fw-bold blue-text flex-grow-1 mb-1">Total Price</h6>
                        <h6 class="fw-bold blue-text mb-1">$1 516,85</h6>
                    </div>
                    <div class="d-flex">
                        <p class="fw-thin small blue-text flex-grow-1">Advance</p>
                        <p class="fw-thin small blue-text">$794 829,85</p>
                    </div>
                </div>
            </div>


        </main>
    </div>

    
</body>

