/*IMPORTS*/

@import "./components/carousel.css";
/*Abstracts*/
@import url("./abstracts/vars.css");

/*Base*/
@import url("./base/typography.css");

/*Components*/
@import url("./components/buttons.css");
@import url("./components/cards.css");
@import url("./components/carousel.css");
@import url("./components/forms.css");
@import url("./components/shapes.css");

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}